

.doctor-card-design{
    height: 650px;
    margin-bottom: 50px;
    border: 1px solid lightsalmon ;
}
.description{
    text-align: justify;
}
.card-btn{
    text-align: center;
    padding-top: 15px;
}
.card-btn button{
    padding:10px;
    width: 150px;
    border: 1px solid gray;
}
