
.nav-container{
    width: 100%;
    height: 60px;
    background-color: tomato;


}
.nav-container nav{
    margin-right: 90px;
}

.nav-container nav a{
    
    float:right;
    color: white;
    text-decoration: none;
    padding:15px;
    font-size: 20px;
    font-weight: 600;
}
@media only screen and (max-width:540px) {
    .nav-container{
        width: 100%;
        height: 250px;
    background-color: rgb(73, 67, 66);
        
    
    }
    .nav-container nav{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
}
.userName{
    color: rgb(138, 209, 138);
    padding-right: 10px;
}
@media only screen and (min-width:541px) and (max-width:770px) {
    .nav-container{
        width: 100%;
        height: 200px;
    }
    .nav-container nav{
        color: green;
        display: grid;
    grid-template-columns: 1fr;
    }
    .nav-container nav a{
    
        color: green;
        padding:15px;
        font-size: 20px;
        font-weight: 600;
    }
    
}

