.banner-container{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../Images/misi-hospital.jpg");
    background-repeat: no-repeat;
    -webkit-background-sixe:cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.banner-container .banner-header h1{
    color: white;
    font-size: 80px;
}
.banner-container .banner-header h1 .mark-write{
    color: rgb(229, 145, 229);
    font-size: 80px;
}
@media only screen  and (max-width:540px) {
    .banner-container{
        height: 400px;
    }
    .banner-container .banner-header h1{
        color: white;
        font-size: 50px;
    }
    .banner-container .banner-header h1 .mark-write{
        color: rgb(229, 145, 229);
        font-size: 50px;
    }
}